/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

body {
  font-family: "Open Sans", sans-serif; }

.navbar {
  padding: 10px 0px;
  margin: 0px; }

.navbar-brand {
  padding: 0px; }

.navbar-default {
  background: black;
  border: none;
  border-radius: 0px; }
  .navbar-default .navbar-nav li a {
    color: white;
    border: none; }
    .navbar-default .navbar-nav li a:hover {
      color: white;
      font-weight: 700; }
  .navbar-default img {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    opacity: 1; }
    .navbar-default img:hover {
      opacity: 0.7;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }

footer {
  /* Effect 1: Brackets */ }
  footer .navbar {
    padding: 10px 0px;
    margin: 0px; }
  footer .navbar-brand {
    padding: 0px; }
  footer .navbar-default {
    background: black;
    border: none;
    border-radius: 0px; }
    footer .navbar-default .navbar-nav li a {
      color: white;
      border: none;
      font-family: "Open Sans", sans-serif; }
      footer .navbar-default .navbar-nav li a:hover {
        color: white;
        font-weight: 700;
        font-family: courier, sans-serif; }
  footer .cl-effect-1 a::before,
  footer .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  footer .cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  footer .cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  footer .cl-effect-1 a:hover::before,
  footer .cl-effect-1 a:hover::after,
  footer .cl-effect-1 a:focus::before,
  footer .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

#datos {
  background: black;
  color: white; }
  #datos h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #datos .columna-1 {
    padding: 0px;
    margin: 30px 0px; }
    #datos .columna-1 div {
      width: 70%;
      vertical-align: top;
      display: inline-block; }
      #datos .columna-1 div p {
        font-family: courier, sans-serif;
        font-size: 12px;
        line-height: 14px; }
    #datos .columna-1 .logo {
      width: 15%; }
    #datos .columna-1 #socialnet {
      margin-left: 100px; }
      #datos .columna-1 #socialnet a {
        display: block;
        color: white;
        padding: 5px 0px;
        text-decoration: none;
        vertical-align: middle; }
        #datos .columna-1 #socialnet a i {
          font-size: 28px;
          vertical-align: middle;
          padding-left: 10px; }
        #datos .columna-1 #socialnet a:hover {
          color: #DADADA;
          text-decoration: none; }
  #datos .columna-2 {
    margin-top: 30px; }
    #datos .columna-2 div {
      padding: 0px;
      display: inline-block;
      margin: 0px; }
      #datos .columna-2 div ul li {
        font-family: courier, sans-serif; }
    #datos .columna-2 .branding {
      margin-top: -10px; }
  #datos .columna-3 {
    margin-top: 30px;
    font-family: "Open Sans", sans-serif; }
    #datos .columna-3 span {
      display: inline-block;
      padding: 5px;
      font-size: 20px; }
    #datos .columna-3 p {
      display: inline-block; }

@media (max-width: 568) {
  #socialnet {
    margin-left: 45px; }
    #socialnet a {
      display: block;
      color: white;
      padding: 5px 0px;
      text-decoration: none;
      vertical-align: middle; }
      #socialnet a i {
        font-size: 28px;
        vertical-align: middle;
        padding-left: 10px; }
      #socialnet a:hover {
        color: #DADADA;
        text-decoration: none; } }
@media (max-width: 1024) {
  #socialnet {
    margin-left: 100px; }
    #socialnet a {
      display: block;
      color: white;
      padding: 5px 0px;
      text-decoration: none;
      vertical-align: middle; }
      #socialnet a i {
        font-size: 28px;
        vertical-align: middle;
        padding-left: 10px; }
      #socialnet a:hover {
        color: #DADADA;
        text-decoration: none; } }
#portada .jumbotron {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 55px;
  margin: 0px; }
#portada span {
  display: inline-block;
  margin: auto; }
  #portada span:after {
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transfor: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background: #EEEEEE;
    top: -10px; }

#about {
  margin-top: 50px;
  height: 100%; }
  #about h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700; }
  #about p {
    font-family: courier, sans-serif;
    font-size: 14px;
    text-align: justify; }
  #about span {
    display: inline-block;
    margin: auto; }
    #about span:after {
      content: "";
      width: 20px;
      height: 20px;
      position: relative;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -moz-transfor: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      background: white;
      top: 75px; }

#skills {
  background: #DADADA;
  height: 100%; }
  #skills h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px; }
  #skills p {
    margin: 0px; }
  #skills .progress {
    height: 15px;
    margin-bottom: 10px; }
  #skills .ultima-progress {
    margin-bottom: 50px; }

@media (max-width: 320px) {
  #about span {
    display: inline-block;
    margin: auto; }
    #about span:after {
      content: "";
      width: 20px;
      height: 20px;
      position: relative;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -moz-transfor: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      background: white;
      top: 15px; } }

/*# sourceMappingURL=about.css.map */
