/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

body {
  font-family: "Open Sans", sans-serif; }

.navbar {
  padding: 10px 0px;
  margin: 0px; }

.navbar-brand {
  padding: 0px; }

.navbar-default {
  background: black;
  border: none;
  border-radius: 0px; }
  .navbar-default .navbar-nav li a {
    color: white;
    border: none; }
    .navbar-default .navbar-nav li a:hover {
      color: white;
      font-weight: 700; }
  .navbar-default img {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    opacity: 1; }
    .navbar-default img:hover {
      opacity: 0.7;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }

footer {
  /* Effect 1: Brackets */ }
  footer .navbar {
    padding: 10px 0px;
    margin: 0px; }
  footer .navbar-brand {
    padding: 0px; }
  footer .navbar-default {
    background: black;
    border: none;
    border-radius: 0px; }
    footer .navbar-default .navbar-nav li a {
      color: white;
      border: none;
      font-family: "Open Sans", sans-serif; }
      footer .navbar-default .navbar-nav li a:hover {
        color: white;
        font-weight: 700;
        font-family: courier, sans-serif; }
  footer .cl-effect-1 a::before,
  footer .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  footer .cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  footer .cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  footer .cl-effect-1 a:hover::before,
  footer .cl-effect-1 a:hover::after,
  footer .cl-effect-1 a:focus::before,
  footer .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

#datos {
  background: black;
  color: white; }
  #datos h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #datos .columna-1 {
    padding: 0px;
    margin: 30px 0px; }
    #datos .columna-1 div {
      width: 70%;
      vertical-align: top;
      display: inline-block; }
      #datos .columna-1 div p {
        font-family: courier, sans-serif;
        font-size: 12px;
        line-height: 14px; }
    #datos .columna-1 .logo {
      width: 15%; }
    #datos .columna-1 #socialnet {
      margin-left: 100px; }
      #datos .columna-1 #socialnet a {
        display: block;
        color: white;
        padding: 5px 0px;
        text-decoration: none;
        vertical-align: middle; }
        #datos .columna-1 #socialnet a i {
          font-size: 28px;
          vertical-align: middle;
          padding-left: 10px; }
        #datos .columna-1 #socialnet a:hover {
          color: #DADADA;
          text-decoration: none; }
  #datos .columna-2 {
    margin-top: 30px; }
    #datos .columna-2 div {
      padding: 0px;
      display: inline-block;
      margin: 0px; }
      #datos .columna-2 div ul li {
        font-family: courier, sans-serif; }
    #datos .columna-2 .branding {
      margin-top: -10px; }
  #datos .columna-3 {
    margin-top: 30px;
    font-family: "Open Sans", sans-serif; }
    #datos .columna-3 span {
      display: inline-block;
      padding: 5px;
      font-size: 20px; }
    #datos .columna-3 p {
      display: inline-block; }

@media (max-width: 568) {
  #socialnet {
    margin-left: 45px; }
    #socialnet a {
      display: block;
      color: white;
      padding: 5px 0px;
      text-decoration: none;
      vertical-align: middle; }
      #socialnet a i {
        font-size: 28px;
        vertical-align: middle;
        padding-left: 10px; }
      #socialnet a:hover {
        color: #DADADA;
        text-decoration: none; } }
@media (max-width: 1024) {
  #socialnet {
    margin-left: 100px; }
    #socialnet a {
      display: block;
      color: white;
      padding: 5px 0px;
      text-decoration: none;
      vertical-align: middle; }
      #socialnet a i {
        font-size: 28px;
        vertical-align: middle;
        padding-left: 10px; }
      #socialnet a:hover {
        color: #DADADA;
        text-decoration: none; } }
#title-section .jumbotron {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 55px;
  margin: 0px; }

#about {
  margin: 20px 0px; }
  #about .nopadding {
    padding: 0px; }
  #about #logoLF {
    width: 40%;
    height: 100px;
    background-color: black;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #about #PnlNombre {
    width: 50%;
    height: 100px;
    background-color: black;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: black; }
  #about #PnlFoto {
    margin-top: 10px;
    width: 40%;
    height: 400px;
    background-color: white;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-right: 5px;
    display: flex;
    justify-content: bottom;
    align-items: flex-end; }
    #about #PnlFoto img {
      filter: grayscale(100%);
      webkit-filter: grayscale(100%); }
  #about #PnlDataGral {
    margin-top: 10px;
    margin-left: 5px;
    width: 50%;
    height: 400px;
    background-color: black;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    padding: 5px 15px;
    padding-left: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 15px; }
    #about #PnlDataGral span {
      width: 0px;
      height: 0px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white;
      display: inline-block;
      position: absolute;
      margin-left: -20px;
      top: 15px; }
  #about #logoLF-DER {
    width: 40%;
    height: 100px;
    background-color: white;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #about #PnlSkills-title {
    width: 50%;
    height: 100px;
    background-color: white;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: Black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold; }
  #about #PnlFoto-DER {
    margin-top: 10px;
    width: 40%;
    height: 400px;
    background-color: white;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    margin-right: 5px;
    display: flex;
    justify-content: bottom;
    align-items: flex-end; }
  #about #PnlSkills {
    margin-top: 10px;
    margin-left: 5px;
    width: 50%;
    height: 400px;
    background-color: white;
    padding: 0px;
    box-shadow: 5px 5px 5px #D3D3D3;
    @import url(http://fonts.googleapis.com/css?family=PT+Sans); }
    #about #PnlSkills .skillname {
      margin: 0px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin-top: 15px; }
    #about #PnlSkills .skillbar {
      padding: 0px 30px;
      height: 40px; }
    #about #PnlSkills .progress {
      height: 15px;
      border-radius: 10px; }
      #about #PnlSkills .progress .progress-bar-info {
        background-image: linear-gradient(to bottom, lightgrey 0, black 100%); }
    #about #PnlSkills *,
    #about #PnlSkills *:before,
    #about #PnlSkills *:after {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #about #PnlSkills .skills-bar-container {
      position: relative;
      width: 100%;
      top: 30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      list-style: none; }
      #about #PnlSkills .skills-bar-container li {
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px; }
        #about #PnlSkills .skills-bar-container li .progressbar-title {
          color: black;
          font-family: "Open Sans", sans-serif;
          font-size: 12px; }
          #about #PnlSkills .skills-bar-container li .progressbar-title h3 {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 14px; }
          #about #PnlSkills .skills-bar-container li .progressbar-title .percent {
            position: absolute;
            right: 5px; }
        #about #PnlSkills .skills-bar-container li .bar-container {
          background: #555;
          position: relative;
          width: 100%;
          height: 5px;
          margin-top: 5px;
          display: block;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
          #about #PnlSkills .skills-bar-container li .bar-container .progressbar {
            position: absolute;
            width: 0%;
            height: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-adobe {
            -webkit-animation-name: progress-adobe;
            animation-name: progress-adobe;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-html {
            -webkit-animation-name: progress-html;
            animation-name: progress-html;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-css {
            -webkit-animation-name: progress-css;
            animation-name: progress-css;
            -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-javascript {
            -webkit-animation-name: progress-javascript;
            animation-name: progress-javascript;
            -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-git {
            -webkit-animation-name: progress-git;
            animation-name: progress-git;
            -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s; }
          #about #PnlSkills .skills-bar-container li .bar-container #progress-angular {
            -webkit-animation-name: progress-angular;
            animation-name: progress-angular;
            -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s; }
    #about #PnlSkills .progressred {
      background-color: red; }
    #about #PnlSkills .progressblue {
      background-color: #1199ff; }
    #about #PnlSkills .progresspurple {
      background-color: #9b59b6; }
    #about #PnlSkills .progressorange {
      background-color: #F16529; }
    #about #PnlSkills .progressgreen {
      background-color: #27ae60; }
@-webkit-keyframes progress-adobe {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-webkit-keyframes progress-html {
  0% {
    width: 0%; }
  100% {
    width: 93%; } }
@-webkit-keyframes progress-css {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%; }
  100% {
    width: 70%; } }
@-webkit-keyframes progress-git {
  0% {
    width: 0%; }
  100% {
    width: 74%; } }
@-webkit-keyframes progress-angular {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }
@-moz-keyframes progress-adobe {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-moz-keyframes progress-html {
  0% {
    width: 0%; }
  100% {
    width: 93%; } }
@-moz-keyframes progress-css {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }
@-moz-keyframes progress-javascript {
  0% {
    width: 0%; }
  100% {
    width: 70%; } }
@-moz-keyframes progress-git {
  0% {
    width: 0%; }
  100% {
    width: 74%; } }
@-moz-keyframes progress-angular {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }
@keyframes progress-adobe {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes progress-html {
  0% {
    width: 0%; }
  100% {
    width: 93%; } }
@keyframes progress-css {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }
@keyframes progress-javascript {
  0% {
    width: 0%; }
  100% {
    width: 70%; } }
@keyframes progress-git {
  0% {
    width: 0%; }
  100% {
    width: 74%; } }
@keyframes progress-angular {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }
@media (max-width: 568px) {
  #about {
    margin: 20px 0px; }
    #about .nopadding {
      padding: 0px; }
    #about #logoLF {
      width: 100%;
      height: 100px;
      background-color: black;
      padding: 0px;
      box-shadow: 5px 5px 5px #D3D3D3;
      display: flex;
      justify-content: center;
      align-items: center; }
    #about #PnlFoto {
      margin-top: 10px;
      width: 100%;
      height: 400px;
      background-color: white;
      padding: 0px;
      box-shadow: 5px 5px 5px #D3D3D3;
      margin-right: 5px;
      display: flex;
      justify-content: bottom;
      align-items: flex-end; }
      #about #PnlFoto img {
        filter: grayscale(100%);
        webkit-filter: grayscale(100%); }
    #about #PnlDataGral {
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;
      height: 400px;
      background-color: black;
      padding: 0px;
      box-shadow: 5px 5px 5px #D3D3D3;
      padding: 5px 15px;
      padding-left: 20px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      line-height: 15px; }
      #about #PnlDataGral span {
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid white;
        display: inline-block;
        position: absolute;
        margin-left: -20px;
        top: 15px; }
    #about #PnlSkills-title {
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;
      height: 100px;
      background-color: white;
      padding: 0px;
      box-shadow: 5px 5px 5px #D3D3D3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: Black;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: bold; }
    #about #PnlSkills {
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;
      height: 400px;
      background-color: white;
      padding: 0px;
      box-shadow: 5px 5px 5px #D3D3D3; } }

/*# sourceMappingURL=about.css.map */
