/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

body {
  font-family: "Open Sans", sans-serif; }

.navbar {
  padding: 10px 0px;
  margin: 0px; }

.navbar-brand {
  padding: 0px; }

.navbar-default {
  background: black;
  border: none;
  border-radius: 0px; }
  .navbar-default .navbar-nav li a {
    color: white;
    border: none; }
    .navbar-default .navbar-nav li a:hover {
      color: white;
      font-weight: 700; }
  .navbar-default img {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    opacity: 1; }
    .navbar-default img:hover {
      opacity: 0.7;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }

footer {
  /* Effect 1: Brackets */ }
  footer .navbar {
    padding: 10px 0px;
    margin: 0px; }
  footer .navbar-brand {
    padding: 0px; }
  footer .navbar-default {
    background: black;
    border: none;
    border-radius: 0px; }
    footer .navbar-default .navbar-nav li a {
      color: white;
      border: none;
      font-family: "Open Sans", sans-serif; }
      footer .navbar-default .navbar-nav li a:hover {
        color: white;
        font-weight: 700;
        font-family: courier, sans-serif; }
  footer .cl-effect-1 a::before,
  footer .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  footer .cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  footer .cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  footer .cl-effect-1 a:hover::before,
  footer .cl-effect-1 a:hover::after,
  footer .cl-effect-1 a:focus::before,
  footer .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

#datos {
  background: black;
  color: white; }
  #datos h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
  #datos .columna-1 {
    padding: 0px;
    margin: 30px 0px; }
    #datos .columna-1 div {
      width: 70%;
      vertical-align: top;
      display: inline-block; }
      #datos .columna-1 div p {
        font-family: courier, sans-serif;
        font-size: 12px;
        line-height: 14px; }
    #datos .columna-1 .logo {
      width: 15%; }
  #datos .columna-2 {
    margin-top: 30px; }
    #datos .columna-2 div {
      padding: 0px;
      display: inline-block;
      margin: 0px; }
      #datos .columna-2 div ul li {
        font-family: courier, sans-serif; }
    #datos .columna-2 .branding {
      margin-top: -10px; }
  #datos .columna-3 {
    margin-top: 30px;
    font-family: "Open Sans", sans-serif; }
    #datos .columna-3 span {
      display: inline-block;
      padding: 5px;
      font-size: 20px; }
    #datos .columna-3 p {
      display: inline-block; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

#portada {
  background-image: url("../imgs/fondo02.png");
  height: 500px;
  background-size: cover; }
  #portada .jumbotron {
    background: transparent;
    color: white;
    font-size: 55px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

#contacto {
  margin-top: 100px;
  height: 300px; }
  #contacto div {
    height: 100px;
    position: relative; }
    #contacto div .elementos .icono-contact {
      border: none;
      display: inline-block;
      width: 15%;
      vertical-align: middle; }
      #contacto div .elementos .icono-contact span {
        font-size: 25px; }
    #contacto div .elementos article {
      padding: 0px 10px;
      display: inline-block;
      border: none;
      width: 80%;
      vertical-align: middle; }
  #contacto .social span {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #DADADA;
    text-align: center;
    vertical-align: middle;
    margin: 0px 10px; }
    #contacto .social span:hover {
      background: #F2AA1D;
      color: white; }
      #contacto .social span:hover a {
        color: white; }
    #contacto .social span a {
      color: black;
      display: inline-block;
      text-decoration: none;
      margin: 0px 10px;
      font-size: 20px;
      margin-top: 10px; }

@media (max-width: 568px) {
  #portada {
    height: 300px;
    background-position: -200px 0px; }
    #portada .jumbotron {
      font-size: 55px; }

  #contacto {
    height: 400px;
    margin: 50px 0px; } }

/*# sourceMappingURL=contacto.css.map */
