footer{
	.navbar{
		padding: 10px 0px;
		margin: 0px;
	}

	.navbar-brand{
		padding: 0px;
	}

	.navbar-default{
		background: black;
		border: none;
		border-radius: 0px;
		.navbar-nav{
			li{
				a{
					color: white;
					border: none;
					font-family: $fuente-ppal;
					&:hover{
						color: white;
						font-weight: 700;
						font-family: $fuente-sec;
					}
				}
			}
		}
	}

	/* Effect 1: Brackets */
	.cl-effect-1 a::before,
	.cl-effect-1 a::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}

	.cl-effect-1 a::before {
		margin-right: 10px;
		content: '[';
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}

	.cl-effect-1 a::after {
		margin-left: 10px;
		content: ']';
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	.cl-effect-1 a:hover::before,
	.cl-effect-1 a:hover::after,
	.cl-effect-1 a:focus::before,
	.cl-effect-1 a:focus::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}

#datos{
	background: black;
	color: white;
	h5{
		font-family: $fuente-ppal;
		font-size: 14px;
	}
	.columna-1{
		padding: 0px;
		margin: 30px 0px;
		div{
			width: 70%;
			vertical-align: top;
			display: inline-block;
			p{
				font-family: $fuente-sec;
				font-size: 12px;
				line-height: 14px;
			}
		}
		.logo{width: 15%;}
		#socialnet{
			margin-left: 100px;
			a{
				display: block;
				color: white;
				padding: 5px 0px;
				text-decoration: none;
				vertical-align: middle;
				i{
					font-size: 28px;
					vertical-align: middle;
					padding-left: 10px;
				}
				&:hover{
					color: #DADADA;
					text-decoration: none;
				}
			}
		}
	}
	.columna-2{
		margin-top: 30px;
		div{
			padding: 0px;
			display: inline-block;
			margin: 0px;
			ul{
				li{
					font-family: $fuente-sec;
				}
			}
		}
		.branding{
			margin-top: -10px;
		}
	}	
	.columna-3{
		margin-top: 30px;
		font-family: $fuente-ppal;
		span{
			display: inline-block;
			padding: 5px;
			font-size: 20px;
		}
		p{
			display: inline-block;
		}
	}
}


@media (max-width: 568){
	#socialnet{
		margin-left: 45px;
		a{
			display: block;
			color: white;
			padding: 5px 0px;
			text-decoration: none;
			vertical-align: middle;
			i{
				font-size: 28px;
				vertical-align: middle;
				padding-left: 10px;
			}
			&:hover{
				color: #DADADA;
				text-decoration: none;
			}
		}
	}
}


@media (max-width: 1024){
	#socialnet{
		margin-left: 100px;
		a{
			display: block;
			color: white;
			padding: 5px 0px;
			text-decoration: none;
			vertical-align: middle;
			i{
				font-size: 28px;
				vertical-align: middle;
				padding-left: 10px;
			}
			&:hover{
				color: #DADADA;
				text-decoration: none;
			}
		}
	}
}