@import "animaciones";

#portada{
	background-image: url("../imgs/fondo01.png");
	background-size: cover;
	height: 600px;
	a{
		color: white;
		font-family: $fuente-ppal;
		font-size: 55px;
		font-weight: 700;
	    margin: 0px 25px;
	}
	.indicador{
	    display: inline-block;
	    margin-left: 90px;
	    margin-top: 120px;
	}

	.titulo{
		display: inline-block;
		p{
			line-height: 14px;
			font-family: $fuente-sec;
			font-size: 12px;
		}
	}
	
	.jumbotron{
		margin-top: 80px;
		background: transparent;
		font-family: $fuente-ppal;
		font-size: 55px;
		font-weight: 700;
	}

	.btn{
		color: white;
		font-family: $fuente-ppal;
		font-size: 14px;
		font-weight: 400;
		background: $backcolor-hover;
		padding: 5px 10px;
		border-radius: 19px;
	}
}
