$fuente-ppal: 'Open Sans', sans-serif;
$fuente-sec: courier, sans-serif;
$color-fondo-ppal: white;
$backcolor-hover: #31aae2;
$color-marca: #F2AA1D;


$progressred: red;
$progressblue: #1199ff;
$progresspurple: #9b59b6;
$progressorange: #F16529;
$progressgreen: #27ae60;