@import "variables";
@import "header";
@import "footer";

#portada{
	padding: 0px;

	#titulo{
		.jumbotron{
			margin: 0px;
			font-family: $fuente-ppal;
			font-weight: 700;
			font-size: 55px;
		}
	}
}

#galeria{
	h3{
		font-family: $fuente-ppal;
		font-size: 14px;
	}

	.img_galery{
		padding: 0px;
	}

	#presentacion-img{
		&:hover{

		}
	}

}