@import "variables";
@import "header";
@import "footer";

#portada{
	background-image: url("../imgs/fondo01.png");
	height: 600px;
	background-size: cover;

	.jumbotron{
		background: transparent;
		font-family: $fuente-ppal;
		font-size: 55px;
		font-weight: 700;
		color: white;
		margin-top: 100px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	p{
		font-family: $fuente-sec;
		color: white;
		font-size: 16px;
		margin-bottom: 100px;
	}
	span{
		display: inline-block;
		color: #F2AA1D;
		font-size: 70px;
		margin: 0px 20px;
	}
}

#intro-about{
	height: 400px;
	p{
		font-family: $fuente-sec;
		color: black;
		font-size: 14px;
		margin: 50px 0px;
		text-align: justify;
	}
}