@import "variables";
@import "header";
@import "footer";

#portada{
	background-image: url("../imgs/fondo01.png");
	height: 600px;
	background-size: cover;

	.jumbotron{
		background: transparent;
		font-family: $fuente-ppal;
		font-size: 55px;
		font-weight: 700;
		color: white;
		margin-top: 100px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	p{
		font-family: $fuente-sec;
		color: white;
		font-size: 16px;
		margin-bottom: 100px;
	}
	span{
		display: inline-block;
		color: #F2AA1D;
		font-size: 70px;
		margin: 0px 20px;
	}
}

#intro-about{
	p{
		font-family: $fuente-sec;
		color: black;
		font-size: 14px;
		margin: 50px 0px;
		text-align: justify;
	}
}

#servicios{
	h2{
		font-family: $fuente-ppal;
		font-size: 30px;
//		&:after{
//			content: "";
//			display: block;
//			height: 10px;
//			width: 10px;
//			background: $backcolor-hover;
//			transform: rotate(45deg);
//			position: relative;
//			top: 15px;
//			margin: auto;
//		}
	}
	span{
		height: 60px;
		width: 60px;
		border: 2px solid black;
		border-radius: 60px;
		display: inline-block;
		font-size: 40px;
		margin-bottom: 10px;
	}
	.contenido{
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		h3{
			font-family: $fuente-ppal;
			font-size: 14px;
		}
		p{
			font-family: $fuente-sec;
			font-size: 12px;
			line-height: 14px;
		}
	}
	.sist-prog{
		display: inline-block;
		font-size: 30px;
		margin: 0px 5px;
		border: none;
	}
}
